#syn-tooltip {
    position: absolute;
    background: #222;
    color: white;
    padding: 10px;
    border-radius: 8px;
    max-width: 450px;
    z-index: 999999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    text-align: justify;
    pointer-events: none;
}
